h1{
     color: rgb(16, 215, 29);
 height: 200px;
     background-image: url('images/images\ \(1\).png');
     background-size:contain;
     background-repeat: no-repeat;
     background-position: top right;
     background-color: hotpink;
     text-decoration: overline wavy khaki;
}
p{
     font-size: 1.5em;
     text-align: center;
     font-weight: 900;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-style: italic;
     color: chocolate;
     background-color:darkcyan;
     padding: 50px;
}
h2{
     color: blue;
     text-align: center;
     font-size: 2em;
     text-decoration: wavy underline olivedrab;

}